html {
    overflow: hidden;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, input, button {
    font: 14px arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 6px 6px 6px;
    height: 60px;
}

.leftheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftheader a {
    display: block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    white-space: nowrap;
}

.leftheader a:first-of-type {
    margin-left: 15px;
}

.rightheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4px 0 32px;
}

.rightheader a {
    display: block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    white-space: nowrap;
    font-size: 13px;
    color: #000000DE;
}

#top, #middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    min-height: 90px;
    max-height: 290px;
}

.top-image {
    width: 272px;
    height: 100%;
    margin-top: auto;
}

.mtop {
    margin: 20px auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.mtop:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.mtop:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.mtop .searchbar {
    border: none;
    outline: none;
    height: 40px;
    width: 500px;
}

.mtop .voice {
    height: 20px;
    position: relative;
    top: 5px;
    left: 8px;
}

.mbottom {
    padding: 18px 0 0 0;
    height: 70px;
    top: 50px;
}

.mbottom-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.mbottom-btn:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

#bottom a {
    text-decoration: none;
    padding: 0 3px;
}

footer {
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tfooter {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

.bfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.b1footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b1footer a {
    display: block;
    padding: 15px;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
}

.b2footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b2footer a {
    display: block;
    padding: 15px;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
}

.b2footer div {
    position: relative;
    display: block;
}

.b2footer button {
    width: 100%;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    display: block;
    padding: 15px;
    white-space: nowrap;
    border: none;
    background: none;
    cursor: pointer;
}